<%- include('../../shared/includes/head', { pageTitle: 'Success' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order was successful.</h1>
    <p><a href="/orders" class="btn">Orders</a></p>
  </main>
<%- include('../../shared/includes/footer') %>